<div id="user-section">

    <div class="booking" ng-class="bookingsLength() < n ? 'empty' : 'confirmed'" ng-repeat="n in [1,2,3,4]">
        <h3 ng-show="bookingsLength() < (n - 1) || (bookingsLength() < n && !model.chosenRoom)">Ingen bokning</h3>

        <div ng-hide="bookingsLength() < n">
            <h5 class="number">
                {{ booking(n - 1).room }}
                <span class="time-picker">{{ booking(n - 1).date }} {{ booking(n - 1).time }}</span>
            </h5>

            <p class="info">
                {{ booking(n - 1).room }}
            </p>

            <div class="btn-cont">
                <div class="btn btn-unconfirmed-cancel">Cancel</div>
            </div>
            <div class="btn btn-confirmed-cancel" ng-click="cancelBooking(booking(n - 1).id)">Cancel</div>
        </div>

        <div ng-show="bookingsLength() === (n - 1) && model.chosenRoom">
            <h5 class="number">
                {{ model.chosenRoom.name }}
                <span class="time-picker">{{ roomDateTime() }}</span>
            </h5>

            <p class="info">
                {{ roomInfo(model.chosenRoom) }}
            </p>

            <div class="btn-cont">
                <div class="btn btn-unconfirmed-cancel">Cancel</div>
                <div class="btn btn-confirm" ng-click="createBooking(model.chosenRoom)">Confirm</div>
            </div>
        </div>
    </div>

    <div class="logged-in-box">Inloggad som <em>{{ user }}</em> <a href="#/" ng-click="logout()">Logga ut</a></div>
</div>